body {
    margin: 0;
}
header {
    width: 100%;
    display: inline-flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

div.logo {
    color: mediumaquamarine;
    flex: 1;
    flex-flow: row no-wrap;
    display: inline-flex;
    align-items: center;
    padding-left: 1%;
}
div.logo p {
    padding-left: 3px;
}
nav ul {
    flex: 1;
    flex-flow: row wrap;
    padding-right: 20px;
}
li {
    display: inline-flex;
    padding: 20px;
}
li a {
    color: black;
}