body {
    margin: 0;
    font-family: georgia;
}
header {
    width: 100%;
    display: inline-flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

div.logo {
    color: mediumaquamarine;
    flex: 1;
    flex-flow: row no-wrap;
    display: inline-flex;
    align-items: center;
    padding-left: 1%;
}
div.logo p {
    padding-left: 3px;
}
nav ul {
    flex: 1;
    flex-flow: row wrap;
    padding-right: 20px;
}
li {
    display: inline-flex;
    padding: 20px;
}
li a {
    color: black;
}
main {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
article {
    border: 1px solid black;
}
section#large {
    width: 630px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 25px;
}
section#medium {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 25px;
}
section#small {
    width: 240px;
    display: flex;
    flex-flow: column nowrap;
}
header.textpick1 {
    font-size: 1.75em;
    background-image: url(./images/img-story-main.png);
    
}

header.textpick1 h2 {
    
}
header.textpick2 {
    background-image: url(./images/fall.png);
    justify-content: center;
}
header.textpick3 {
    background-image: url(./images/cameraman.png);
    justify-content: center;
}
header.textpick4 {
    background-image: url(./images/cat.png);
    justify-content: center;
}
main header {
    height: 300px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-start;
    font-size: 1.5em;
    font-family: Georgia;
}
p {
    font-size: 1em;
    color: black;
}
footer {
    height: 100px;
}